@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .icon {
    @apply text-lg cursor-pointer;
  }
  .myarrow {
    @apply absolute z-[0] cursor-pointer bottom-[61%] bg-background w-14 h-14 rounded-full
    md:grid place-items-center translate-y-10 transition-all hidden;
  }
  .subbanner-shadow {
    @apply relative overflow-hidden;
  }
  .subbanner-shadow:before {
    @apply absolute cursor-pointer top-0 -left-[85%] z-[0] block content-[""] w-[50%] h-full bg-gradient-to-r 
    from-transparent to-[rgba(255,255,255,0.3)] transform skew-x-[-25deg] opacity-0;
  }
  .subbanner-shadow:hover:before {
    @apply opacity-100 animate-shine;
  }
  .product-title {
    @apply text-[1.25rem] md:text-[1.5rem] font-extrabold px-4 uppercase text-[#333]
      relative max-md:before:hidden max-md:after:hidden before:bg-primary-color 
      before:absolute before:top-4 before:w-24 before:right-full
      before:h-0.5 after:bg-primary-color after:absolute 
      after:top-4 after:w-24 after:left-full after:h-0.5;
  }
  .product-detail-tags {
    @apply p-2 rounded-lg text-2xl text-primary-color font-bold;
  }
  .product-detail-tags-active {
    @apply text-primary-color cursor-pointer
    border-b-[1px] border-primary-color;
  }
}

body {
  /* width: 100vw; */
  background: #f3f3f3;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span,
p,
div {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* Ovveride CSS */
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: visible !important;
}
.carousel .control-dots {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  bottom: -3px !important;
}
/* .carousel-item {
  padding: 0.5rem 0.5rem 0 0.5rem;
} */
#sort-id {
  padding: 9px 16px !important;
}
/* .MuiInputBase-input.MuiOutlinedInput-input {
  padding: 14px !important;
} */
.MuiSelect-select MuiSelect-outlined {
  padding: 8px 16px !important;
}
.mui-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 2.75rem !important;
  max-height: 2.75rem !important;
}
.carousel.carousel-slider {
  z-index: 0 !important;
}
/* .react-multi-carousel-track {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
} */
.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

.carousel-container {
  width: 100%;
}
.MuiGrid-item {
  padding: 0.75rem !important;
}
/* .mui-prvans-MuiResponsiveChart-container g:first-child {
  transform: translateX(-120px);
} */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
